body {
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/eb/75/f2/eb75f200e3106eeecd0f0ab0c3ed4fd3.jpg');
	background-size: cover;
	text-align: center;
	padding-top: 30px;
}

.smaller_box {
	border: 1px;
	background-color: rgba(0,0,0,0.40);
	height:50%;
	width: 70%;
	margin-left: 15%;
	padding-top: 25px;
}

.box {
	border: 1px;
	background-color: rgba(0,0,0,0.40);
	height:115%;
	width: 70%;
	margin-left: 15%;
	padding-top: 25px;
}

.foodmain {
	margin-top: 7%;
	margin-left: 10px;
	font-size: 45px;
	font-family: "Allerta Stencil";
	font-weight: bold;
	color: white;
	opacity: 1 !important;
}

input, .dropdown {
	border-radius: 3px;
	color: rgba(0,0,0,0.10);
	padding: 8px;
	width: 250px;
	/*opacity: 0.4;*/
  border: none;
	-webkit-appearance: none;
}

#height_ft {
	width: 120px;
}
#height_in {
	width: 120px;
	margin-left: -230px;
}
.height {
	float:left;
}

#current_weight {
	width: 120px;
}
#goal_weight {
	width: 120px;
	margin-left: -230px;
}
.weight {
	float:left;
}

label, input, .dropdown {
    display: block;
}

input, select, textarea {
    color: black;
}

label, .dropdown {
	margin-left: 32%;
  margin-bottom: 10px;
	color: rgba(0,0,0,0.40);
	opacity: 1 !important;
	border-radius: 3px;
}

.weight_goals {
	margin-left: 100px !important;
}

.buttons {
	border-width: 1px;
	border-radius: 3px;
	margin-top: -5px !important;
	margin: 20px;
	border-color: white;
	cursor:pointer;
  background-color: transparent;
	color:white;
	font-family:Arial;
	font-size:13px;
	padding:10px 31px;
}

.signup_button {
	margin-top: 15px !important;
}
